# Метод Эйлера с пересчетом решения задачи Коши для обыкновенных дифференциальных уравнений первого порядка

Начальные данные: $x \in(1,1.1),  \varepsilon = 10^{-4} $

$\left\{\begin{array}{l}
(6 xy + x^2 + 3) y_x^{\prime}+ 3y^2 + 2xy + 2x =0 \\
y(1)= -1
\end{array}\right.$

In [1]:
x_0 = 1
y_0 = -1

x_left  = 1
x_right = 1.1

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
def f_1(x,y,h):
    return (-1)*(3*y**2 + 2*x*y + 2*x)/(6*x*y + x**2 + 3)
def f_2(x, y, h):
    return f_1(x + h, y + h*f_1(x,y, h), h)

In [4]:
def euler(n): 
    x = [x_0]
    y = [y_0]
    h = (x_right - x_left)/n
    for i in range(n+1):
        if (i):
            x.append(x[0] + i*h)
        y_i = y[i] + h/2*(f_1(x[i], y[i], h) + f_2(x[i], y[i], h))
        y.append(y_i)
    return x, y

In [5]:
def print_table(n):
    x1, y1 = euler(n)
    for i in range(n):
        x1[i] = round(x1[i], 4)
        y1[i] = round(y1[i], 4)
    data1 = pd.DataFrame((x1, y1), index=['x1', 'y1']).dropna(axis=1)
    return data1

In [6]:
print_table(10)

,0,1,2,3,4,5,6,7,8,9,10
x1,1,1.010,1.0200,1.0300,1.040,1.0500,1.0600,1.0700,1.080,1.0900,1.100000
y1,-1,-0.985,-0.9698,-0.9545,-0.939,-0.9233,-0.9073,-0.8909,-0.874,-0.8566,-0.838401