# Метод Рунге-Кутты решения задачи Коши для обыкновенных дифференциальных уравнений первого порядка

## Задание №9.

Начальные данные: $x \in(1,2),  \varepsilon = 10^{-4} $

$\left\{\begin{array}{l}
x(2 x-1) y_x^{\prime}+y^2-(4 x+1) y+4 x=0 \\
y(1)=2
\end{array}\right.$

In [1]:
x_0 = 1
y_0 = -1

x_left  = 1
x_right = 1.4

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

## Метод Рунге-Кутты 3 порядка точности
### Расчет значений решения

In [3]:
def f_1(x,y,h):
    return (-1)*(y**2 - 4*x*y - y + 4*x)/(2*x-1)/x
def f_2(x, y, h):
    return f_1(x + h/2, y + h/2*f_1(x,y, h), h)
def f_3(x, y, h):
    return f_1(x + h, y + 2*h*f_2(x, y, h) - h*f_1(x,y,h),h)

In [4]:
def runge(n): 
    x = [x_0]
    y = [y_0]
    h = (x_right - x_left)/n
    for i in range(n+1):
        if (i):
            x.append(x[0] + i*h)
        y_i = y[i] + h/6*(f_1(x[i], y[i], h) + 4*f_2(x[i], y[i], h) + f_3(x[i], y[i], h))
        y.append(y_i)
    return x, y

def print_table(n):
    x1, y1 = runge(n)
    for i in range(n):
        x1[i] = round(x1[i], 4)
        y1[i] = round(y1[i], 4)
    data1 = pd.DataFrame((x1, y1), index=['x1', 'y1']).dropna(axis=1)
    return data1

Выведем вычисленные значения

In [7]:
print_table(81920)

,0,1,2,3,4,5,6,7,8,9,...,81911,81912,81913,81914,81915,81916,81917,81918,81919,81920
x1,1,1.0,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,...,1.4000,1.4000,1.4000,1.4000,1.4000,1.4000,1.4000,1.4000,1.4000,1.4
y1,-1,-1.0,-1.0001,-1.0001,-1.0002,-1.0002,-1.0003,-1.0003,-1.0004,-1.0004,...,-24.1869,-24.1884,-24.1898,-24.1913,-24.1927,-24.1942,-24.1956,-24.1971,-24.1985,-24.2

### Погрешности

Посчитаем погрешность используя норму
$\left\|y^{(2 h)}-y^{(h)}\right\|=\max _{i \in[1, n]}\left|y_i^{(2 h)}-y_i^{(h)}\right|$

In [7]:
def find_len(runge1, runge2):
    x1, y1 = runge1
    x2, y2 = runge2
    if (len(x1) >= len(x2)):
        runge1, runge2 = runge2, runge1
    return runge1, runge2
    
def runge_error(runge1, runge2):
    runge1, runge2 = find_len(runge1, runge2)
    x1, y1 = runge1
    x2, y2 = runge2
    max_error = 0
    for i in range(len(x1)):
        if (x1[i] in x2):
            j = x2.index(x1[i])
            if( abs(y1[i] - y2[j]) > max_error):
                max_error = abs(y1[i] - y2[j])
    return max_error

def errors(n1, n2 = 10**6, step = 10):
    x, y = [], []
    runge_2h = runge(10**6)
    for i in range(n1, n2, step):
        runge_h = runge(i)
        x.append(i)
        y.append(runge_error(runge_h, runge_2h))
    return x,y

In [8]:
runge_2h = runge(10**6)
runge_h  = runge(10)
print('Погрешность между 10 и 10^6 точками:' , runge_error(runge_h, runge_2h))

Погрешность между 10 и 10^6 точками: 1.645350522494482e-10

In [9]:
runge_h  = runge(10**4)
print('Погрешность между 10^4 и 10^6 точками:' , runge_error(runge_h, runge_2h))

Погрешность между 10^4 и 10^6 точками: 1.6431300764452317e-10

In [10]:
runge_h  = runge(10**5)
print('Погрешность между 10^5 и 10^6 точками:' , runge_error(runge_h, runge_2h))

Погрешность между 10^5 и 10^6 точками: 1.7763568394002505e-10